/* Layout */
.projects {
  display: flex;
  justify-content: center;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 60px 0;
  width: 100%;
}

/* Book Container */
.book-card {
  perspective: 1500px;
}

/* Book */
.book {
  width: 300px;
  height: 380px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

/* Background Layer */
.book-bg {
  position: absolute;
  inset: 0;
  border-radius: 16px;

  background: radial-gradient(circle at 20% 30%, #e3f2fd 0%, transparent 50%),
    radial-gradient(circle at 80% 70%, #f3e5f5 0%, transparent 50%),
    #f5f7fa;
}

/* Cover */
.book-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 1s ease;
  z-index: 2;
  backface-visibility: hidden;
}

.book-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* Content */
.book-content {
  position: absolute;
  inset: 15px;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.book-content h4 {
  font-size: 18px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0.4px;
}

.book-content p {
  font-size: 14px;
  line-height: 22px;
  color: #333;
  opacity: 0.9;
  text-align: justify;
}






/* Button */
.live-btn {
  text-align: center;
  padding:5px 10px;
  border-radius: 8px;
  background: #34B7A7;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.live-btn:hover {
 color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Open Animation */
.book-card:hover .book-cover {
  transform: rotateY(-160deg);
}



/* Mobile */
@media (max-width: 768px) {
  .project-box {
    width: 95%;
  }

  .book-card:hover .book-cover {
    transform: none;
  }
}
