.about .content h2 {
    font-weight: 700;
    font-size: 30px;
    color: #020202;
    text-align: center;

}


.about-ul {
    list-style: none;
    text-align: justify;
    letter-spacing: .5px;
    text-transform: capitalize;
    line-height: 35px;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.about-ul li{
    padding: 10px 0;
}




.btn-resume {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 50px;
    transition: 0.5s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #3dc8b7;
    border: 0;


}
.particles-box {
    width: 100vw;
    height: 100vh;
    background: #111;
    margin: 0 auto;
}
.particles-js-canvas-el{
    height: 100%;
    width: 100%;
}
.btn-resume:hover {
    background: #34b7a7;
    color: rgb(0, 0, 0);
}
.about-img{
    
    height: 90% !important;
}