/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {

    background: rgba(255, 255, 255, 0);

    box-shadow: 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    z-index: 9;

}

#header .logo {
    font-size: 32px;
    margin-top: 10px;
    padding-left: 20px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}



#header .logoo {
    color: #222222;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

#header .logo img {
    max-height: 40px;

}


.ityped-cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*--------------------------------------------------------------
    # Header Social Links
    --------------------------------------------------------------*/
.header-social-links {
    padding-right: 15px;
}

.header-social-links a {
    color: #1a1919;
    padding-left: 12px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 33px;


}

.header-social-links a:hover {
    color: #34b7a7;
}

/*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
/**
    * Desktop Navigation 
    */



/* .navbar li {
    position: relative;
    padding: 10px 17px 9px 81px;
} */

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #34b7a7;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}



.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #222222;
}


.nav-btn {
    border: none;
    outline: none;
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    background: transparent;
    position: fixed;
    right: 20px;
    top: 5px;
    z-index: 10;
}



.navlink {
    text-decoration: none;
}

.navbar-pc {
    margin: 0;
    padding: 0px 20px;
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
}

.navbar-pc li {
    position: relative;
    padding: 10px 17px 9px 81px;
}

.navbar-mobile-ul {
    position: relative;
    width: 150rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.navbar-mobile-ul {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    background-color: #34b7a7;


}

@media only screen and (min-width:991px) {
    .navbar .nav-btn {
        display: none
    }
}

@media only screen and (max-width:991px) {
    .navbar-mobile {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}