@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  background: url(/public/img/about-boxes-bg.jpg) center top no-repeat fixed;
  background-size: auto;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 0;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: none;
}

a {
  color: #34b7a7;
  text-decoration: none !important;
}





#main {
  margin-top: 50px;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #34b7a7;
  border-top-color: #dcf5f2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #34b7a7;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: rgb(12, 194, 218);
  line-height: 0;
}

.back-to-top:hover {
  background: #49cbbb;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}



/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/




.section-title {
  text-align: center;

}

.section-title h2 {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;

  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.row,
main {
  position: relative;
}

.section-title p {

  position: relative;
}


/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
#about,
#skills,
#project,
#contact {

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

}


.btn-about {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 0.5s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #34b7a7;
  border: 0;
  font-family: 'Nunito', sans-serif;

}

.btn-about:hover {
  color: rgb(0, 0, 0);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero:before {
    content: "";

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }


}



@media (max-width: 768px) {
  #hero .container {
    padding-top: 300px;
    padding-right: 30px;
  }

  .img-thumbnail {
    margin-top: 30px;
  }

  .skills-container {
    margin-top: 30px;
  }


}

@media only screen and (max-width:795px) {
  .card-1:hover {
    transform: translateX(0%);

  }

  .imgBox img:nth-child(2) {
    display: none;
  }

}